<div class="Home-header-wrapper2 three-in-grid">
	<div id="sendmessage">
		<img src="https://img.icons8.com/ios-glyphs/30/null/chat.png" style="padding-right:10px ;" />
	</div>
	<div class="input-box">
		<input type="text" class="form-control" id="url_field" required="true" autocomplete="off"placeholder="Minimum 60 characters with 2 hash tags [No personal messaging]">
	</div>
	<div>
		<span style="padding-right:15px;padding-left:10px;">
			<img src="https://img.icons8.com/ios/24/null/happy--v1.png"  class="emoji-button"/>
		</span>
		<span>
			<img src="https://img.icons8.com/external-anggara-glyph-anggara-putra/24/null/external-send-email-interface-anggara-glyph-anggara-putra.png" class="add_post2" />
      <img src="/images/loading.gif" class="load-pub" style="display:none;width: 24px;" />
		</span>
	</div>
</div>
<div class="mention-count" id="mention-count-badge">
	<div style="padding-right: 10px">
    <a class="Nav-link" id='mention-link' href="JavaScript:void(0)" aria-label="notifications">
      	<div class="Nav-item-hover pos_rel" id="notic" slot="position:relative;">
        	<svg viewBox="0 0 24 24"><g><path d="M21.697 16.468c-.02-.016-2.14-1.64-2.103-6.03.02-2.532-.812-4.782-2.347-6.335C15.872 2.71 14.01 1.94 12.005 1.93h-.013c-2.004.01-3.866.78-5.242 2.174-1.534 1.553-2.368 3.802-2.346 6.334.037 4.33-2.02 5.967-2.102 6.03-.26.193-.366.53-.265.838.102.308.39.515.712.515h4.92c.102 2.31 1.997 4.16 4.33 4.16s4.226-1.85 4.327-4.16h4.922c.322 0 .61-.206.71-.514.103-.307-.003-.645-.263-.838zM12 20.478c-1.505 0-2.73-1.177-2.828-2.658h5.656c-.1 1.48-1.323 2.66-2.828 2.66zM4.38 16.32c.74-1.132 1.548-3.028 1.524-5.896-.018-2.16.644-3.982 1.913-5.267C8.91 4.05 10.397 3.437 12 3.43c1.603.008 3.087.62 4.18 1.728 1.27 1.285 1.933 3.106 1.915 5.267-.024 2.868.785 4.765 1.525 5.896H4.38z"></path></g></svg>
        	<span class="notic" id='mention-badge' style="display: none;"></span>
    	</div>
	</a>
	</div>
</div>
<button class="close-crate hide-toggle" onclick="closeCrate()">X</button>
<script src="https://unpkg.com/picmo@latest/dist/umd/index.js"></script>
<script src="https://unpkg.com/@picmo/renderer-twemoji@latest/dist/umd/index.js"></script>
<script src="https://unpkg.com/@picmo/popup-picker@latest/dist/umd/index.js"></script>
<style>
	
	.mention-count {
		position: fixed;
		bottom: 50px;
		right: 200px;
		z-index: 9999;
	}
	.mention-count #mention-link{
		width: 45px;
	}
	.mention-count svg {
		fill: #333333 !important;
	}
	.mention-count .Nav-item-hover {
		border: 1px solid grey;
		background-color: white;
	}
	.search-users {
		color: red;
		background-color: #ffffff;
		overflow-y: auto;
	    max-height: 100px !important;
	    display: none; 
	    position: fixed; 
	    bottom: 60px; 
	    z-index: 999; 
	    width: 200px;
        border-radius: 5px;
	    border: 1px solid grey;
	}
	.search-users li {
		border-top: 1px solid grey;
		padding: 2px;
		padding-left: 10px;
	}
	.search-users li:hover {
		background-color: grey;
	}
</style>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
	// const crate = new Crate({
	// 	server: '922801522625101845',
	// 	channel: '922801522625101851',
	// 	location: [-55, crateLocation],
	// 	css: 'button { display: none!important; }'
	// });
</script>

<script>
	document.getElementById('mention-count-badge').style.right = document.getElementsByClassName('main')[0].offsetRight + 50 + 'px';
	let crateLocation = (window.innerWidth - 980) / 2 - 7;
	if (window.innerWidth <= 980) {crateLocation = 0;};
	function toggleCrate() {
		// crate.toggle();
	  document.querySelector('.close-crate').classList.add('show-toggle');
    document.querySelector('.close-crate').classList.remove('hide-toggle');
  }


  function closeCrate() {
		crate.toggle(false);
    document.querySelector('.close-crate').classList.remove('show-toggle');
    document.querySelector('.close-crate').classList.add('hide-toggle');
	}
	window.addEventListener('resize', () => {
		// crateLocation = ((window.innerWidth - document.querySelector('.Home-header-wrapper2.three-in-grid').offsetWidth) / 2) - 7;
		// crate.setOptions({
		// 	location: [-55, crateLocation]
		// });
	});
	const { createPicker } = window.picmo;
	const { createPopup } = window.picmoPopup;
	const { TwemojiRenderer } = window.picmoTwemoji;
	document.addEventListener('DOMContentLoaded', () => {
		const trigger = document.querySelector('.emoji-button');
		const picker = createPopup({
			renderer: new TwemojiRenderer()
		}, {
			referenceElement: trigger,
			triggerElement: trigger,
			showCloseButton: false,
			animate: false,
			showSearch: false,
		    autoFocusSearch: false,
		    autoFocus: false,
			showSearch: false
		});
		trigger.addEventListener('click', () => {
			picker.toggle();
		});
		picker.addEventListener('emoji:select', (selection) => {
			document.querySelector('#url_field').value += selection.emoji;
		});
	});
</script>